/*
**GENERAL
*/

@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
    --general-body-width: 70%;
    /*unless %, the child-elements are not overflow, and overflow:scroll doesn't work*/
    --header-height: 72px;
    --personalBox-width: 300px;
    --margin-for-bigContainers: 24px;
}

.d-none {
    display: none;
}

.row-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Balsamiq Sans', cursive;
}

.profileImg {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
    border: 2px solid lightgray;
    margin-right: 10px;
}

.user {
    display: flex;
    align-items: center;
}

.editButton {
    color: blue;
}

/*
**ICON
*/

i {
    font-size: 32px;
    padding: 5px;
}

.demo {
    position: relative;
    display: inline-block;
}

.demo .tooltiptext {
    display: none;
    background-color: black;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    border-radius: 3px;
    padding: 2px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    margin-left: -16px;
}

.demo:hover .tooltiptext {
    display: block;
}

/*
**HEADER
*/

header {
    position: sticky;
    top: 0;
    border-bottom: 1px solid lightgray;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    z-index: 1;
    height: var(--header-height);
}

.toolbar {
    padding: 10px 0;
    width: var(--general-body-width);
}

.logo_img {
    width: 100px;
}

.searchbar {
    border: 1px solid lightgray;
    border-radius: 4px;
    background-color: rgb(250, 250, 250);
    display: flex;
    align-items: center;
    padding: 5px;
}

.searchbar>i {
    opacity: 0.3;
}

.searchbar * {
    border: none;
    outline: none;
    font-size: 13px;
    background-color: rgb(250, 250, 250);
}

.functionSites {
    max-width: 216px;
    display: flex;
    align-items: center;
}

header .profileImg {
    display: none;
    width: 32px;
    height: 32px;
}

/*
**MAIN
*/

main {
    display: flex;
    justify-content: center;
}

.mainContent {
    width: var(--general-body-width);
    display: flex;
    flex-direction: row;
}

/*SOCIALBOX*/

#socialBox {
    width: calc(100% - var(--personalBox-width));
}

/*stories*/

#stories {
    border: 1px solid lightgray;
    border-radius: 4px;
    box-sizing: border-box;
    margin: var(--margin-for-bigContainers);
    display: flex;
    overflow: scroll;
    -ms-overflow-style: none;
    /* Hide scrollbar for IE and Edge */
    scrollbar-width: none;
    /* Hide scrollbar for Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */

#stories::-webkit-scrollbar {
    display: none;
}

.addYourStory {
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}

.plusButton {
    position: absolute;
    right: 4px;
    bottom: 20px;
    border-radius: 100%;
    border: none;
    color: white;
    background-color: blue;
    cursor: pointer;
}

.storyAuthor {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
}

.storyAuthor img {
    height: 60px;
    width: 60px;
    padding: 2px;
    /*distance width the round border*/
    margin-right: 0;
    /*delete margin-right of profileImg (above)*/
}

.storyAuthor span {
    margin-top: 8px;
    font-size: 13px;
    color: gray;
}

/*posts*/

.post {
    /* width: 100%; */
    border: 1px solid lightgray;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 25px;
}

.poster {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.location {
    font-size: 10px;
    opacity: 0.8;
}

.postImg>img {
    width: 100%;
}

.functionButtons {
    margin: 10px;
}

/* .heart{
    content:url(img/icon/heart-69-256.jpg);
    font-size: 32px; doesn't work
} */

.description {
    margin: 10px;
    font-size: 16px;
}

/*comment*/

.commentCreatingField {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid lightgray;
}

.commentCreatingField * {
    margin: 10px;
}

.commentCreatingField>textarea {
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    height: 20px;
    max-height: 80px;
    /* -ms-overflow-style: none; */
    /* Hide scrollbar for IE and Edge */
    /* scrollbar-width: none; */
    /* Hide scrollbar for Firefox */
}

/* .commentCreatingField>textarea::-webkit-scrollbar {*/

/* Hide scrollbar for Chrome, Safari and Opera */

/*    display: none;
} */

.commentCreatingField>button {
    border: none;
    background-color: white;
    color: blue;
    font-weight: bold;
    opacity: 0.2;
}

/*PERSONALBOX*/

#personalBox {
    width: var(--personalBox-width);
    right: 0;
    position: sticky;
    top: calc(var(--header-height) + var(--margin-for-bigContainers));
    height: calc(100vh - var(--header-height) - var(--margin-for-bigContainers));
    font-size: 16px;
    margin: var(--margin-for-bigContainers);
}

.user {
    display: flex;
    align-items: center;
}

#followRecommendations>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
}

/*
**FOOTER
*/

/*
**ONTOP BUTTON
*/

.onTopButton {
    width: 64px;
    height: 64px;
    position: fixed;
    bottom: 8vh;
    right: 16vw;
}

.onTopButton img {
    width: 100%;
}

.onTopButton:hover {
    background-color: rgb(245, 245, 245);
    cursor: pointer;
    /*doesn't work*/
    border-radius: 4px;
}

@media (max-width:1024px) {
    #personalBox {
        display: none;
    }
    .toolbar, .mainContent, #socialBox {
        width: 100%;
    }
    header .profileImg {
        display: block;
    }
    .onTopButton {
        right: 8vw;
    }
}

@media (max-width:759px) {
    .onTopButton {
        width: 32px;
        height: 32px;
        background-color: rgb(245, 245, 245);
        border-radius: 4px;
    }
}

@media (max-width:520px) {
    .logo_img {
        width: 64px;
    }
    .searchbar {
        display: none;
    }
    header {
        height: 56px;
    }
    #stories {
        margin: 0;
        border-left: none;
        border-right: none;
    }
    .storyAuthor img {
        height: 48px;
        width: 48px;
    }
    i {
        font-size: 20px;
    }
    .post {
        margin: 25px 0;
        border-left: none;
        border-right: none;
    }
}